@font-face {
    font-family: 'Avenir-Regular';
    src: url(/assets/fonts/Alternative\ files/AvenirNextLTPro.ttf);
}

@font-face {
    font-family: 'Avenir-Demi';
    src: url(/assets/fonts/Alternative\ files/AvenirNextLTProDemi.ttf);
}

@font-face {
    font-family: 'Avenir-Bold';
    src: url(/assets/fonts/Alternative\ files/AvenirNextLTProBold.ttf);
}