@use "./variables" as *;
@use "./fonts" as *;

* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  body {
    margin: 0;
    padding:0;
    font-size: 1.6em;
    font-family: "AvenirNextLTPro-Regular";
  }

.header {
    background-color: $primary-black;
    height: auto;
}

// Header styling
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__logo {
    width: 7.5rem;
    height: 1.25rem;
    margin: 1rem auto;
    flex-basis:100%;
    }

    &__list-item {
        list-style-type: none;
    }

    &__link {
        text-decoration: underline;
        text-underline-offset: 2.3125rem;
        text-decoration-thickness: 0.1875rem;
        color: #fff;
        font-family: "AvenirNextLTPro-Bold";
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem auto;

    }
}

.footer {
    background-color: $primary-black;
    color: $white;

    font-family: "AvenirNextLTPro-Bold";
}
