$primary-black: #323232;
$silver: #afafaf;
$white: #ffffff;
$secondary-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$mobile-min: 320px;

$mobile-max: 767px;

$tablet-min: 768px;

$tablet-max: 1279px;

$desktop-min: 1280px;
