@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/fonts" as *;

/* Hero */
.hero {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 28.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include tablet {
        height:45.625rem;
    }

    @include desktop {
        height:62.625rem;
    }
    
    &__overlay {
        background-color: $primary-black;
        height: inherit;
        opacity: 50%;
    }

    &__title {
        position: absolute;
        top: 45%;
        left: 6%;
        color: $white;

        @include tablet {
            top: 45%;
            left: 5%;
        }

        @include desktop {
            top: 45%;
            left: 10%;
        }
    }
}

/* Band information */
.band-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:1.5rem;

    @include tablet {
        padding: 5rem 12rem;
    }

    @include desktop {
        padding: 5rem 24rem;
    }

    &__title {
        padding-top: 2rem;


        @include tablet {
            margin-left:-6rem;
        }

        @include desktop {
            margin-left:-9rem;
        }
    }
    &__image {
        width: 100%;
        padding-top: 1.5rem;
        height:30rem;

        @include tablet-desktop {
            padding-top: 4rem;
            height:50rem;
        }
    }

    &__quotes {
    @include text-style ('Avenir-Demi', 1.6rem, 700, 2.5rem);
        padding-top: 1rem;
        margin: 0;

        @include tablet {
            @include text-style ('Avenir-Demi', 2.5rem, 700, 3.5rem);
        padding-top: 3.5rem;
        }

        @include desktop {
            @include text-style ('Avenir-Demi', 2.3rem, 700, 3rem);
        padding-top: 3.5rem;
        width:81%;
        }

        &--author {
            font-weight:700;
        }
    }

    &__sub-title {
        margin:0;

        @include tablet-desktop {
            padding-top:2rem;
        }
    }

    &__history {
        display: flex;
        flex-direction: column;
        
        @include tablet-desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__text {
        padding-top :1rem;
        margin:0;

        @include tablet-desktop {
            @include text-style ('Avenir-Regular', 2rem, 400, 3rem);
            padding-top:2.5rem;
            width:47%;
        } 

        @include desktop {
            @include text-style ('Avenir-Regular', 1.575rem, 400, 2.8rem);
        } 
    }

}

/* Photo gallery */
.gallery {
    padding:1.5rem;
    background-color: $alabaster;

    @include tablet {
        padding:3.125rem;
    }

    @include desktop {
        padding: 8rem 12rem 0rem 12rem;
    }

    &__title {
        padding-top: 1rem;
        
        @include tablet {
          padding: 6rem 0rem 2rem 1.5rem;
        }

        @include desktop {
          padding: 0rem 0rem 2rem 1.5rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet-desktop {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         padding-bottom: 3rem;
        }
}

    &__image {
        height:40%;
        padding-top:1.5rem;

        @include tablet-desktop {
            width:33.3%;
            padding:1.5rem;
        }
    }
}
