@use "./partials/global" as *;
@use "./partials/variables" as *;

/* Hero */
.hero {

    background-image: url("../assets/images/hero-bio.jpg");
    height: 25.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &__overlay {
        background-color: $primary-black;
        height: inherit;
        opacity: 50%;
    }

    &__title {
        position: absolute;
        top: 35%;
        left: 10%;
        color: $white;
    }
}

/* Band information */
.band-info {
    &__title {
        padding: 1.5rem 0 0 1rem;
    }
    &__image {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    &__quotes {
        font-family: "Avenir-Bold";
        font-weight: 700;
        line-height: 2.5rem;
        padding: 1rem 1rem 1.5rem 1rem;
    }

    &__sub-title {
        padding: 0 1rem 1rem 1rem;
    }

    &__history {
        padding: 0 1rem 3rem 1rem;
    }
}

/* Photo gallery */
.gallery {
    &__title {
        padding:0 1rem 1rem 1rem;
    }
    // &__image-container {
    //     width:100%;
    //     height: 25.625rem;
    // }
    &__image {
        width: 100%;
        height: 25.625rem;
        padding:0 1rem 1rem 1rem;

    }
}
