@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* Hero */
.hero {

    background-image: url("../assets/images/hero-bio.jpg");
    height: 25.625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &__overlay {
        background-color: $primary-black;
        height: inherit;
        opacity: 50%;
    }

    &__title {
        position: absolute;
        top: 35%;
        left: 10%;
        color: $white;
    }
}

/* Band information */
.band-info {
    &__title {
        padding: 1.5rem 0 0 1rem;
    }
    &__image {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    &__quotes {
    @include text-style ("Avenir-Demi", 1.6rem, 700, 2.5rem);
        padding: 1rem 1rem 1.5rem 1rem;
        margin: 0;
    }

    &__sub-title {
        padding: 0 1rem 1rem 1rem;
    }

    &__history {
        padding: 0 1rem 2rem 1rem;
        margin:0;
    }
}

/* Photo gallery */
.gallery {
    @include tablet {
        width: 90%;
        margin:0 auto;
    }

    &__title {
        padding:0 1rem 1rem 1rem;
        
        @include tablet {
        padding: 0 1rem 1rem 4rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
}

    &__image {
        height:40%;
        padding:0 1rem 1rem 1rem;

        @include tablet {
            width:30%;
            // height:40%;
            padding:1rem;
        }
    }
}
