@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../assets/fonts/AvenirNextLTPro.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../assets/fonts/AvenirNextLTPro-Demi.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../assets/fonts/AvenirNextLTProBold.ttf) format("truetype");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  color: #323232;
  font-family: "AvenirNextLTPro", Arial, sans-serif;
}

h1 {
  font-family: "AvenirNextLTPro";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-family: "AvenirNextLTPro";
    font-size: 7.75rem;
    font-weight: 700;
    line-height: 9.25rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-family: "AvenirNextLTPro";
    font-size: 5.75rem;
    font-weight: 700;
    line-height: 6.25rem;
  }
}

h2 {
  font-family: "AvenirNextLTPro";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-family: "AvenirNextLTPro";
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-family: "AvenirNextLTPro";
    font-size: 4.25rem;
    font-weight: 700;
    line-height: 3.75rem;
  }
}

h4 {
  font-family: "AvenirNextLTPro";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  h4 {
    font-family: "AvenirNextLTPro";
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h4 {
    font-family: "AvenirNextLTPro";
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
}

p {
  font-family: "AvenirNextLTPro";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  p {
    font-family: "AvenirNextLTPro";
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-family: "AvenirNextLTPro";
    font-size: 1.5757rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
}

/* Header */
.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    height: 10rem;
    justify-content: flex-start;
    align-items: center;
  }
}
.header__logo-link {
  flex: 2;
  padding-top: 1.5rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    flex: 0;
    padding: 0 4rem 0 4rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-link {
    padding: 0 4rem 0 14rem;
  }
}
.header__logo {
  width: 12.5rem;
  height: 2.25rem;
}
.header__list {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .header__list {
    flex: 0;
    padding: 0;
  }
}
.header__list-item {
  list-style-type: none;
  flex: 1;
  text-align: center;
  position: relative;
  border-bottom: 2px solid transparent;
}
@media screen and (min-width: 768px) {
  .header__list-item {
    padding: 0 4rem;
    position: static;
  }
}
.header__list-item--current::after {
  content: "";
  position: absolute;
  top: 2.7rem;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header__list-item--current::after {
    top: auto;
    left: auto;
    height: 0;
  }
}
.header__link {
  text-decoration: none;
  color: #afafaf;
  font-weight: 400;
}
.header__link:hover {
  color: #ffffff;
}
.header__link--current {
  color: #fff;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header__link--current {
    text-decoration: underline;
    text-underline-offset: 4.1rem;
    text-decoration-thickness: 0.5rem;
  }
}

/* Footer */
.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 4rem 14rem;
  }
}
.footer__title {
  padding-top: 2rem;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  width: 23%;
  padding: 1.5rem 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: -10rem;
    margin-bottom: -0.5rem;
    padding: 1rem;
    width: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__social {
    margin-left: 2rem;
    padding: 1rem 1.5rem;
  }
}
.footer__logo {
  width: 12.5rem;
  height: 2.25rem;
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    margin-left: 8rem;
  }
}
.footer__logo-link {
  width: 20%;
  display: block;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-link {
    order: 1;
    margin: 2.5rem 2rem 0 0;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo-link {
    margin: 2rem 0 0 32rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    order: 3;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    margin: 2rem 0;
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    flex-direction: row;
    justify-content: flex-start;
    order: 2;
    margin-top: 2rem;
    flex: 1 1 100%;
  }
}
@media screen and (min-width: 768px) {
  .contact__group {
    width: 33%;
  }
}
@media screen and (min-width: 1280px) {
  .contact__group {
    width: 28%;
  }
}
.contact__title {
  font-weight: 700;
}
.contact__email {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .contact__email {
    font-family: "AvenirNextLTPro";
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
  }
}

.shows__divider, .comments__divider {
  border: 0;
  height: 2px;
  background: #e1e1e1;
  margin: 1.5rem 0;
}

/* Hero */
.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  height: 36.625rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60rem;
  }
}
.hero__overlay {
  background-color: #323232;
  height: inherit;
  opacity: 50%;
}
.hero__sub-title {
  position: absolute;
  top: 10%;
  left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__sub-title {
    left: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sub-title {
    top: 30%;
    left: 14rem;
  }
}
.hero__title {
  position: absolute;
  top: 20%;
  left: 1.5rem;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 84%;
    left: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    top: 40%;
    left: 14rem;
    width: 40%;
  }
}
.hero__embedSong {
  height: 18rem;
  padding: 1.5rem;
  position: absolute;
  top: 45%;
  border-radius: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__embedSong {
    width: 70%;
    border-radius: 1rem;
    top: 58%;
    padding: 0rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__embedSong {
    width: 30%;
    height: 20%;
    top: 40%;
    left: 59%;
    padding: 0;
  }
}

.shows {
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .shows {
    padding: 4rem 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    padding: 3rem 14rem 3rem 42rem;
    position: relative;
  }
}
.shows__title {
  padding: 4rem 0 2rem 0;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding: 4rem 0 2rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    position: absolute;
    left: 12rem;
    top: 1.4rem;
  }
}
.shows__list {
  display: flex;
  flex-direction: column;
}
.shows__list:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.shows__list--selectedItem {
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
    padding: 1rem 2rem;
  }
}
.shows__list-label {
  color: #afafaf;
  font-weight: 700;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .shows__list-label {
    display: none;
  }
}
.shows__list-info {
  margin: 0px 0 1.25rem 0;
}
@media screen and (min-width: 768px) {
  .shows__list-info {
    width: 32%;
  }
}
.shows__list-info--highlight {
  font-weight: 700;
}
.shows__buyTickets {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-family: "AvenirNextLTPro";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .shows__buyTickets {
    width: 30%;
    font-family: "AvenirNextLTPro";
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__buyTickets {
    width: 20%;
    font-family: "AvenirNextLTPro";
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}
.shows__labelRow {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__labelRow {
    color: #afafaf;
    font-weight: 700;
    width: 75%;
    display: flex;
    justify-content: start;
    margin: 4rem 0;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__labelRow {
    width: 84%;
  }
}
.shows__label {
  width: 34%;
}/*# sourceMappingURL=shows.css.map */